{{#> base  }}

    {{#*inline "head-block" }}
        <link rel="stylesheet" href="/public/js/pivottable/dist/pivot.css">
        <link rel="stylesheet" href="/public/css/styles.css">
    {{/inline}}

    {{#*inline "body-block" }}

        <div class="container-fluid" style="width: 90%">
            <br><br>
            <div class="row">
                <div class="col-10" >

                        <h3 style="color: #3b3b3b;font-family: 'Hammersmith One', sans-serif;font-weight: bold;border-left:5px solid #000000;padding-left: 10px" id="heading">
                            {{title}}

                            {{#if countTimeDependency}}
                            in last
                            <input  style="width: 85px" list="periods" name="period" id="period" value="7">
                            <datalist id="periods">
                                <!-- Options appended by javascript -->
                            </datalist>
                            days
                            {{/if}}
                        </h3>

                </div>
                <div class="col-2">
                    <div class="flex">
                        <a href="/config/all_queries/{{usecase_id}}" class="bttn" style="font-size:13px">Add/Edit</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <hr style=" border: 0; height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

        <div class="container-fluid" style="width: 90%">
            <div class="row">
                <div class="col-md-4">
                    <ul id="accordion" class="custom-ul" style="background: lightgrey;border-radius: 10px 10px 10px 10px;">
                        {{#each resQuery}}
                        <li>
                            <a class="query-list active" href="#" query_type="{{type}}" usecase_id="{{usecase_id}}" id="{{id}}" inputVar="{{inputVar}}" time_dependent="{{time_dependent}}">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="icon">
                                            <div class="block">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10" style="padding-top: 11px">
                                        <div class="title">{{query_title}}</div>
                                    </div>

                                </div>
                            </a>
                        </li>
                        {{/each}}
                        {{#each resPlot}}
                            <li>
                                <a class="plot-list active" href="#"   usecase_id="{{usecase_id}}" id="{{id}}" time_dependent="{{time_dependent}}">
                                    <div class="row">
                                        <div class="col-2" >
                                            <div class="icon" style="overflow: auto">
                                                <div class="block">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-10" style="padding-top: 11px">
                                            <div class="title">{{title}} <span class="tags">Plot</span></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                    <div class="row">

                    </div>
                </div>
                <div class="col-md-8" id="output_window">
                    <div class="browser">
                        <div class="top-bar">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <input type="image" src="/public/images/expand.png" style="float: right" id="maximize" data-toggle="modal" data-target="#myModal"/>
                        </div>

                        <div id="window" class="table-responsive">
                            <div class="row" id="helpbox" style="margin-bottom: 6px;display: none">
                               <span class="tags" id="last_fetched">Last-fetched: <span id="time_last_fetched"></span><a href="#" id="refresh-btn">(Refresh)</a></span>
                            </div>
                            <div class="row" id="output">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- The Modal for maximizing output window -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <!-- Modal body -->
                                <div class="modal-body" >
                                    <!--Output will be appended here! -->
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>

        </div>


    {{/inline}}


    {{#*inline "scripts-block" }}
        <!-- jquerui is a dependency for using pivotui function -->
        <script src="/static/jqueryui/jquery-ui.js"></script>
        <script src="/public/js/pivottable/dist/pivot.js"></script>
        <script src="/static/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>

        <!-- CDNs (Plotly for graphic visualisation) -->
        <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/plotly_renderers.min.js"></script>

        <!-- Custom Scripts -->
        <script src="/public/js/custom.js"></script>
        <script src="/public/js/utils_client.js"></script>
        <script src="/public/js/analytics_client.js"></script>
    {{/inline}}



{{/base}}

