{{#> base  }}

    {{#*inline "head-block" }}
        <link rel="stylesheet" href="/public/js/pivottable/dist/pivot.css">
    {{/inline}}

    {{#*inline "body-block" }}

        <div class="container" >
            <br><br>
            <div class="row">
                <h3 style="font-family: 'Hammersmith One', sans-serif;	border-left:5px solid black;padding-left: 10px"> {{title}}</h3>
            </div>
            <br>
        </div>
        <hr style=" border: 0; height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h5><b>Choose Type of Query</b></h5>
                </div>
                <div class="col-3">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {{#each result}}
                                <a class="dropdown-item" href="#" query_type="{{type}}" usecase_id="{{id}}" >{{query_title}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <a class="btn btn-secondary" href="/all_queries/{{result.0.id}}"  style="float:right">See All Queries</a>
                </div>
            </div>
            <hr style=" border: 0; height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
            <h5>Output:</h5>
            <div class="row card" style="height: 700px;background-color:oldlace">
                <div class="table-responsive"  style="width:900px;height:auto;max-height: 700px">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr id="fields">

                        </tr>
                        </thead>

                        <tbody id="rows">

                        </tbody>
                    </table>

                    <div id="output">

                    </div>

                </div>
            </div>
            <hr class="style-five">

        </div>


    {{/inline}}

   
    {{#*inline "scripts-block" }}
        <!-- jquerui is a dependency for using pivotui function -->
        <script src="/static/jqueryui/jquery-ui.js"></script>
        <script src="/public/js/pivottable/dist/pivot.js"></script>

        <!-- CDNs (Plotly for graphic visualisation) -->
        <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.22.0/plotly_renderers.min.js"></script>
        
        <!-- Custom Scripts -->
        <script src="../../public/js/analytics_client.js"></script>
    {{/inline}}



{{/base}}

