{{#> base  }}

{{#*inline "body-block" }}
<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>

                {{# each result.fields}}
                <th scope="col">{{name}}</th>
                {{/each}}

            </tr>
            </thead>
            <tbody>

            {{# each result.rows}}
            <tr>
                  <td>{{store_id}}</td>
                  <td>{{download_time}}</td>
            </tr>
            {{/each}}

            </tbody>
        </table>
    </div>
</div>
{{/inline}}

{{/base}}

